<header>
    <ul>
        <div id = "title">LoginTest</div>
        <li><a href = "/">Home</a></li>
        <%try {%>
            <%if (isLogged === false) {%>
                <li><a href = "/users">Login</a></li>
                <li><a href = "/signup" id = "signupButton">Sign up</a></li>
            <%} else {%>
                <li><a href = "/homepage">Your Account</a></li>
                <li><a href = "/users/logout">Logout</a></li>
            <%}%>
        <%} catch {%>
            <li><a href = "/users">Login</a></li>
            <li><a href = "/signup" id = "signupButton">Sign up</a></li>
        <%}%>
        
    </ul>
</header>
