<div></div>
<% sampData.forEach(element => { %>
    <ul>
        <li><%-element.PersonID%>. <%-element.Name%> <%-element.Username%> <%-element.password%></li>
    </ul>
<% }); %>

<form action="/users/submit" method="post" name="login" >

    <label>Username</label>
    <input type = "text" name="username">

    <label>Password</label>
    <input name="password">

    <input type="submit" value="Submit">
</form>

<form method="post" name="signup">
    <label>Name</label>
    <input type = "text" name="name">

    <label>Username</label>
    <input type = "text" name="username">

    <label>Password</label>
    <input name="password">

    <input type="submit" value="Submit">
</form>
